
p {
  font-size: 10px;
padding-top: 20px;
}

/* .footer {
  height: 50px;
  /* margin-top: -50px; */
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  /* padding-bottom: 50px; */
/* }  */

/* .footer-content {
  flex: 1;
} */
