.loading-spinner {
  max-width: 12rem;
  animation: rotation 2s infinite linear;
  background-color: transparent;
  display: absolute;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}