

.flexbox-container{
  background-color: #90be6d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  margin: 50px;
}

.flexbox-item {
  /* width: 100%; */
  background-color: #90be6d;
}

.flexbox-item-1 {
  width: 100%;
  min-height: 300px;
  flex-shrink: 0;
  color: #fb6107;
  font-size: 100px;
  text-shadow: 5px 3px #264653;
  text-align: center;
  background-image: url("/public/img/image-2.png");
}

.flexbox-item-4 {
  /* min-height: 300px; */
  margin: 50px;

}

